header{
    height: 400px;
}

#title{
    height: 300px;
}

#bio{
    height: 800px;;
}

#exp{
    height: 450px;
}

#skills{
    height: 400px;
}

#contact{
    height: 100px;
}

ul{
    list-style: none;
}
